
# MATLAB
*.asv


# Compressed file
*.bz2

# folder
WH/L2/test_14_image/

# Compressed file
*.zip


# image
*.tif

# Document
*.doc

# find ./* -size +100M | cat >> .gitignore
# Large file : More than 50 MB (in the shell : "find * -size +50M | cat >> .gitignore")Agulhas_front/MODIS_data_20071230_12_40/A2007364124000.L2_LAC_OC.nc
WH/L0/MOD00.P2021265.0450_1.PDS.bz2
WH/L1A/A2021265045000.L1A_LAC.bz2
WH/L3/AQUA_MODIS.20210922.L3b.DAY.SST.NRT.nc
etopo1_ice_g_i2.zip
hw2/20211019_dataset-duacs-nrt-global-merged-allsat-phy-l4_1635306949167.nc
hw4_eddy_sst_chl-a/T2005027053000.L2_LAC_OC.nc
mid-term/image.tif
mid-term/T2005027053000.L2_LAC_OC.nc
mid-term/u_and_v_compare.tif
